<header class="navbar d-header">
    <div class="container">
        <a id="main-menu-toggle" class="hidden-xs" ng-class="{'open':sidebarIsShow, 'close':!sidebarIsShow}" class="hidden-xs" ng-click="sidebarIsShow = !sidebarIsShow"><i class="fa fa-bars"></i></a>
        <a class="navbar-brand col-lg-2 col-sm-1 col-xs-12 " ng-class="{'noBg': !sidebarIsShow}" href="/"><span>Domino</span></a>
        <div class="nav-no-collapse header-nav">
            <ul class="nav navbar-nav pull-right">
                <li ng-show="!userInfo">
                    <a class="btn" href="http://sso.wandoulabs.com/?redirect=http://domino.wandoulabs.com&nobreak=1">Login</a>
                </li>
                <li ng-show="userInfo" class="dropdown">
                    <a class="btn account dropdown-toggle" data-toggle="dropdown" href="index.html#">
                        <div class="avatar" style="backgroud-image: url({{ userInfo.img }})"></div>
                        <div class="user">
                            <span class="hello">Welcome!</span>
                            <span class="name">{{ userInfo.name }}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</header>
