<div class="container login-mask">
    <div class="row">

        <div class="row">
            <div class="login-box">
                <h2>Login to your account</h2>
                <form class="form-horizontal">
                    <fieldset>
                        <div id="gSignInWrapper">
                            <button type="button" class="btn btn-primary col-xs-12" id="googleLogin">
                                sign in with Google
                            </button>
                        </div>
                    </fieldset>

                </form>
                <hr>
            </div>
        </div><!--/row-->

    </div><!--/row-->

</div>
