<div class="d-login-ctn">
<!--     <label>
        Username: <input type="text" ng-model="user.username" />
    </label>
    <label>
        Password: <input type="password" ng-model="user.password" />
    </label>
    <button ng-click="loginAsync()" class="btn btn-primary btn-lg">Login with LDAP</button> -->
    
    <h1 class="d-login-title">Please sign in</h1>

 	<!-- Place this asynchronous JavaScript just before your </body> tag -->
    <div id="gSignInWrapper">
      <button type="button" class="btn btn-primary" id="googleLogin">
        sign in with Google
      </button>
    </div>
</div>
