<div id="sidebar-left" class="col-lg-2 col-sm-1" ng-show="sidebarIsShow">
    <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav nav-tabs nav-stacked main-menu" id="navMenu">
            <li data-type="dashboard">
                <a ng-click="nav('dashboard')">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="hidden-sm"> Dashboard</span>
                </a>
            </li>
            <li data-type="projects">
                <a ng-click="nav('projects')">
                    <i class="fa fa-building-o"></i>
                    <span class="hidden-sm"> Projects</span>
                </a>
            </li>
            <li data-type="utils">
                <a ng-click="nav('utils')">
                    <i class="fa fa-suitcase"></i>
                    <span class="hidden-sm"> Utils</span>
                </a>
            </li>
       </ul>
    </div>
</div>
