<div>
    <div class="page-header clearfix">
        <h1>
            <button type="button" class="btn btn-prev pull-right" ng-click="createProject();">
                <i class="fa fa-arrow-left" ng-click="fallback()"> Back</i>
            </button>
            {{  isModify ? project.title : 'New project' }}
        </h1>
    </div>
    <div class="list">
        <form class="form-horizontal" name="newForm" novalidate>
            <div class="form-group" ng-class="{'has-error': newForm.serverInvalid.projectTitle || (newForm.projectTitle.$dirty && newForm.projectTitle.$invalid)}" ng-show="!isModify" id="projectTitleWrap">
                <label class="control-label" for="projectTitle">Project Title<span class="red">*</span></label>
                <div class="controls">
                  <input class="form-control" id="projectTitle" name="projectTitle" type="text" ng-model="project.title" required autofocus>
                  <form-tooltip hint="ex.Domino" required="NO_BLANK" for="projectTitle" custom="newForm.serverInvalid.projectTitle">
                  </form-tooltip>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':newForm.serverInvalid.url || (newForm.gitUrl.$dirty && newForm.gitUrl.$invalid)}" id="projectUrlWrap">
                <label class="control-label" for="gitUrl">Git Url<span class="red">*</span></label>
                <div class="controls">
                  <input class="form-control" id="gitUrl" name="gitUrl" type="text" ng-model="project.url" required ng-pattern="/^((git|ssh|http(s)?)|(git@[\w.]+))(:(\/\/)?)([\w.@:/\-~]+)(\.git)(\/)?$/">
                  <form-tooltip hint="ex. https://github.com/wandoulab.git" required="NO_BLANK" for="gitUrl" custom="newForm.serverInvalid.url" pattern="NOT_URL">
                  </form-tooltip>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Environment Type<span class="red">*</span></label>
                <div class="controls">
                  <label class="radio">
                    <input type="radio" name="type" id="optionsRadios1" value="0" checked ng-model="project.type">
                    Github
                  </label>
                  <div style="clear:both"></div>
                  <label class="radio">
                    <input type="radio" name="type" id="optionsRadios2" value="1" ng-model="project.type">
                    Self Host Git
                  </label>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':newForm.serverInvalid.developers || (newForm.developers.$dirty && newForm.developers.$invalid)}">
              <label class="control-label" for="stagingServer">developers<span class="red">*</span></label>
              <div class="controls">
                <select style="width: 100%;" name="developers" ui-select2 multiple ng-model="project.developers" ng-required="true">
                    <option ng-repeat="member in members" value="{{member.accountName}}">{{member.accountName}}</option>
                </select>
                <form-tooltip hint="ex. input email prefix" required="NO_BLANK" for="developers" custom="newForm.serverInvalid.developers">
                  </form-tooltip>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':newForm.serverInvalid.designers || (newForm.designers.$dirty && newForm.designers.$invalid)}">
              <label class="control-label" for="stagingServer">designers<span class="red">*</span></label>
              <div class="controls">
                <select style="width: 100%;" name="designers" ui-select2 multiple ng-model="project.designers" ng-required="true">
                    <option ng-repeat="member in members" value="{{member.accountName}}">{{member.accountName}}</option>
                </select>
                <form-tooltip hint="ex. input email prefix" required="NO_BLANK" for="designers" custom="newForm.serverInvalid.designers">
                </form-tooltip>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error':newForm.serverInvalid.managers || (newForm.managers.$dirty && newForm.managers.$invalid)}">
              <label class="control-label">managers<span class="red">*</span></label>
              <div class="controls">
                <select style="width:100%" name="managers" ui-select2 multiple ng-model="project.managers" ng-required="true" ng-disabled="disabledMangerSele">
                    <option ng-repeat="member in members" value="{{member.accountName}}">{{member.accountName}}</option>
                </select>
                <form-tooltip hint="ex. input email prefix" required="NO_BLANK" for="managers" custom="newForm.serverInvalid.managers">
                </form-tooltip>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error':newForm.serverInvalid.stagingServers || (newForm.stagingServers.$dirty && newForm.stagingServers.$invalid)}" id="stagingServersWrap">
              <label class="control-label" for="stagingServer">StagingServers<span class="red">*</span></label>
              <div class="controls">
                <input class="form-control" id="stagingServer" name="stagingServers" type="text" ng-model="project.stagingServers" required ng-pattern="/^(([\w-]+\.)+([\w]+)\|?)+$/">
                <form-tooltip hint="ex. 127.0.0.1 | tc00.xx.xxx" required="NO_BLANK" for="stagingServers" custom="newForm.serverInvalid.stagingServers" pattern="INPUT_INVALID">
                </form-tooltip>

              </div>
            </div>

            <div class="form-group" ng-class="{'has-error':newForm.serverInvalid.productionServers || (newForm.productionServers.$dirty && newForm.productionServers.$invalid)}" id="productionServersWrap">
              <label class="control-label" for="productionServers">ProductionServers<span class="red">*</span></label>
              <div class="controls">
                <input class="form-control" id="productionServers" name="productionServers" type="text" ng-model="project.productionServers" required ng-pattern="/^(([\w-]+\.)+([\w]+)\|?)+$/">
                <form-tooltip hint="ex. 127.0.0.1 | tc00.xx.xxx" required="NO_BLANK" for="productionServers" custom="newForm.serverInvalid.productionServers" pattern="INPUT_INVALID">
                </form-tooltip>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="notificationList">NotificationList</label>
              <div class="controls">
                <input class="form-control" id="notificationList" name="notificationList" type="text" ng-model="project.notificationList">
                <form-tooltip hint="note. Email address prefix. ex. xxx|xxx|xxx" for="notificationList" custom="newForm.serverInvalid.notificationList" >
                </form-tooltip>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label" for="inputDesc">Project Description</label>
              <div class="controls">
                <textarea id="inputDesc" rows="6" style="width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 126px;" ng-model="project.description" name="description"></textarea>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary" ng-click="saveFun(project)">Save</button>
              <button type="reset" class="btn" ng-click="cancel();">Cancel</button>
            </div>
        </form>
    </div>
</div>
