<div>
    <div class="page-header clearfix">
        <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="createProject();">New project</button>
        <h1>Project</h1>
    </div>
    <div class="list">
        <li class="d-project-item hbox" ng-repeat="item in projects">
            <div class="status checked vbox">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="body">
                <div class="title h3">
                    <i class="icon fa fa-github" ng-if="item.type === 0"></i>
                    <!-- TODO: replace this icon with Git -->
                    <i class="icon fa fa-github" ng-if="item.type === 1"></i>
                    <span>{{ item.title }}</span>
                </div>
                <!-- TODO: replace this with data from server -->
                <ul class="envs">
                    <li class="env-ctn hbox">
                        <span class="env-title production">P</span>
                        <span class="label label-info">master</span>
                        <span class="label label-info">v2.0.10</span>
                        <span class="label label-success">Build Success</span>
                    </li>
                    <li class="env-ctn hbox">
                        <span class="env-title production">S</span>
                        <span class="label label-info">master</span>
                        <span class="label label-info">v2.0.10</span>
                        <span class="label label-success">Build Success</span>
                    </li>
                </ul>
                <!--
                <ul class="envs hbox">
                    <li class="hbox">
                        <span class="env-title production">P</span>
                        <div>
                            <div class="cate">
                                <span class="cate-title">Branch:</span>
                                <span class="label label-info">master</span>
                            </div>
                            <div class="cate">
                                <span class="cate-title">Version:</span>
                                <span class="label label-info">v2.0.10</span>
                            </div>
                            <div class="cate">
                                <span class="cate-title">Status:</span>
                                <span class="label label-success">Build Success</span>
                            </div>
                        </div>
                    </li>
                    <li class="hbox">
                        <span class="env-title staging">S</span>
                        <div>
                            <div class="cate">
                                <span class="cate-title">Branch:</span>
                                <span class="label label-info">master</span>
                            </div>
                            <div class="cate">
                                <span class="cate-title">Version:</span>
                                <span class="label label-info">v2.0.10</span>
                            </div>
                            <div class="cate">
                                <span class="cate-title">Status:</span>
                                <span class="label label-danger">Build Failed</span>
                            </div>
                        </div>
                    </li>
                </ul>
                -->
            </div>
            <div class="btn-open vbox">
                <i class="fa fa-angle-right"></i>
            </div>
        </li>
        <!--
              <th width="150">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!projects || !projects.length">
                <td colspan="3" align="center">
                    暂无内容
                </td>
            </tr>
            <tr ng-repeat="item in projects">
              <td>{{ $index }}</td>
              <td><div style="margin-bottom: 20px" class="project-name">{{ item.title }}</div>
                <div class="alert alert-{{item.lastStagingBuild.status == 3 ? 'danger' : 'warning'}} clearfix">
                    <h4 class="alert-heading">Staging</h4>
                    <div class="row">
                        <div class="col-md-3 pull-left">VERSION: {{ item.lastStagingBuild.version }}</div>
                        <div class="col-md-9 pull-left">STATUS:  {{ statusText[item.lastStagingBuild.status] }}</div>
                    </div>
                </div>
                <div class="alert alert-{{item.lastProdctuionBuild.status == 3 ? 'dange' : 'success'}} clearfix">
                    <h4 class="alert-heading">Producting</h4>
                    <div class="row">
                        <div class="col-md-3 pull-left">VERSION: {{ item.lastProdctuionBuild.version }}</div>
                        <div class="col-md-9 pull-left">STATUS: {{ statusText[item.lastProdctuionBuild.status] }}</div>
                    </div>
                </div>
              </td>
<td>
                <a class="btn btn-success" ng-href="/projects/task/{{item.id}}" title="go to task list">
                    <i class="fa fa-external-link "></i>
                </a>
                <a href="" ng-href="/projects/{{item.id}}" class="btn btn-info" title="edit">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger" ng-click="delete(item.id)" title="delete">
                    <i class="fa fa-trash-o "></i>
                </a>
              </td>
            </tr>
          </tbody>
</table>
-->
    </div>
</div>
