<div>
    <div class="page-header clearfix">
        <div class="row">
            <div class="pull-left task-project-title">
                <h1>{{title}}<a ng-href="{{project.url | getGithubUrl}}" target="_blank" class="link-icon-hover">
                    <i class="fa fa-github"></i></a>
                </h1>
            </div>
            <div class="col-lg-4 pull-right project-operate">
                <div class="box">
                    <div class="box-header">
                        <h2><i class="fa fa-hand-o-up"></i>Project operate</h2>
                    </div>
                    <div class="box-content clearfix">
                        <div class="col-lg-4 col-md-4 col-xs-6">
                            <a class="quick-button-small" ng-click="goEdit()">
                                <i class="fa fa-edit"></i>
                                <p>Edit</p>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-6">
                            <a class="quick-button-small" ng-click="goHookList()">
                                <i class="fa fa-bars"></i>
                                <p>Hooks</p>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-6">
                            <a class="quick-button-small" ng-click="delete()">
                                <i class="fa fa-times"></i>
                                <p>Delete</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!--/col-->

        </div>
        <div class="row">
            <div class="col-sm-2">
                <button type="button" class="btn btn-warning btn-large" ng-click="publish('buildStaging');" ng-disabled="disabled-hookItem1">Staging Publish</button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-success btn-large" ng-click="publish('buildProduction');" ng-disabled="disabled-hookItem0">Producting Publish</button>
            </div>
        </div>
    </div>
    <div class="list">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>Title</th>
              <th>StartTime</th>
              <th>Duration(s)</th>
              <th>Initiator</th>
              <th width="145">Status</th>
              <th width="50">jenkins</th>
              <th width="100" class="text-center">Log</th>
              <th width="100" class="text-center">Review</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-if="!tasks || !tasks.length">
                <td colspan="8" align="center">
                    暂无内容
                </td>
            </tr>
            <tr ng-repeat-start="item in tasks" ng-class="{'warning':(item.title=='Build Production'&&item.reviewStatus==0&&item.status==6)}">
              <td>
                {{ item.title }}
              </td>
              <td>{{ item.startTimeStr }}</td>
              <td>{{ item.duration }}s</td>
              <td>{{ item.initor }}</td>
              <td>
                <span class="label label-{{statusClass[item.status]}}">{{ statusText[item.status] }}
              </td>
              <td ng-if="item.entrance">
                <a ng-href="{{item.entrance}}" class="task-script-edit" target="_blank">Go</a>
              </td>
              <td ng-if="!item.entrance">
                  -
              </td>
              <td class="text-center">
                <a class="btn btn-success" ng-click="toggleConsole(item.id)">
                    <i class="fa fa-chevron-down" ng-class="{'fa-chevron-up':item.showConsole, 'fa-chevron-down':!item.showConsole}"></i>
                </a>
              </td>
              <td class="text-center">
                <span ng-if="item.title=='Build Production'">
                  <a ng-click="review(item.id,1)" ng-if="item.reviewStatus==0">
                    <i class="fa fa-check green" style="margin: 0 10px;font-size:20px;" ></i>
                  </a>
                  <a ng-click="review(item.id,2)" ng-if="item.reviewStatus==0">
                    <i class="fa fa-times red" style="margin: 0 10px; font-size:20px;"></i>
                  </a>
                  <i class="fa fa-check-circle green" style="margin: 0 10px; font-size:20px;" ng-if="item.reviewStatus==1"></i>
                  <i class="fa fa-times-circle red" style="margin: 0 10px; font-size:20px;" ng-if="item.reviewStatus==2"></i>
                </span>
                <span ng-if="item.title!='Build Production'">
                    <i class="fa fa-minus-circle yellow" style="font-size: 20px;"></i>
                </span>
              </td>
            </tr>
            <tr ng-repeat-end ng-if="item.showConsole">
                <td colspan="8"><log-console all-log="item.log" increment-log="item.incrementLog"></log-console></td>
            </tr>
          </tbody>
    </table>
    </div>
   <div class="row" ng-if="tasks && tasks.length">
        <div class="col-lg-12">
            <div class="dataTables_info" id="DataTables_Table_0_info">Showing {{tasks.length}} in totals {{max}}</div>
        </div>
        <div class="col-lg-12 center">
            <div class="dataTables_paginate">
                <pagination items-per-page="pageSize" total-items="max" page="page" on-select-page="setPage(page);" class="dataTables_paginate"></pagination>
            </div>
        </div>
    </div>
</div>
