<div class="d-log-console">
    <pre class="pre-log" ng-show="!isLoading"></pre>
    <a href="#" class="to-top-btn" >To top</a>
    <a href="#" class="scroll-to-end">
        <span class="status"></span>
        <label>
          <script id="metamorph-347-start" type="text/x-placeholder"></script>
            Scroll to end of logs
          <script id="metamorph-347-end" type="text/x-placeholder"></script>
        </label>
    </a>
    <inner-loading text="Loading console log" ng-if="isLoading" class="text-center"></inner-loading>
</div>
