// TODO: Re-implement animaion, key-frames with Compass mixins
// TODO: Add `d-` as prefix for all Domino specified styles
#content {
  min-height: 600px;
}

/** form **/
.has-error .form-hint {
	display: none;
}

/** loading  start **/
.loading-mask {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10000;
	background: #000;
	opacity: .8;
}

@-webkit-keyframes spinner1 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinner1 {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spinner1 {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes spinner1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spinner2 {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(-360deg);
    }
}

@-o-keyframes spinner2 {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(-360deg);
    }
}

@keyframes spinner2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.loading {
    position: fixed;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
}

.loading:after,
.loading:before {
    position: fixed;
    content: "";
    border: 2px solid #36a9e1;
    width: 32px;
    height: 32px;
}

.loading:after {
    -webkit-animation: spinner1 2.5s linear infinite;
    -moz-animation: spinner1 2.5s linear infinite;
    animation: spinner1 2.5s linear infinite;
}

.loading:before {
    width: 44px;
    height: 44px;
    margin-left: -6.5px;
    margin-top: -6.5px;
    -webkit-animation: spinner2 2.5s linear infinite;
    -moz-animation: spinner2 2.5s linear infinite;
    animation: spinner2 2.5s linear infinite;
}

/** inner loading **/
.inner-loading {
    padding: 15px 25px 0 0;
    span {
        padding-right: 25px;
        font-size: 13px;
        color: #aaa;
        background: url('data:image/gif;base64,R0lGODlhEAAIALMPAOvr697e3qCgoLW1tYuLi/X19Wtra3t7e87OzsbGxqGhodfX142NjZaWlqurq////yH/C05FVFNDQVBFMi4wAwEAAAAh/wtYTVAgRGF0YVhNUDw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGNzdGMTE3NDA3MjA2ODExOTJCMEVCMzUyOEYzRkIyNSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowQTRBOUU3MDAxNzUxMUUyODZFREY0REREQTAzNDk4QSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowQTRBOUU2RjAxNzUxMUUyODZFREY0REREQTAzNDk4QSIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkY4N0YxMTc0MDcyMDY4MTE5MkIwRUIzNTI4RjNGQjI1IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkY3N0YxMTc0MDcyMDY4MTE5MkIwRUIzNTI4RjNGQjI1Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEBQoADwAsAAAAABAACAAABCzQSPmqvc+QbbDX3BOMwQOQBUh0AXCaLpBuq+iWsayyN+zOoYKw8BgKdx5MBAAh+QQFCgAPACwAAAAACgAIAAAEHJCceZ65hohdM8mb0BGfxlkkeHqqiJbhWFKyEQEAIfkECQoADwAsAAAAABAACAAABC9QiSneueeZvcX4jTVlBmEaHigKpEmg3xAeo+bCKs3aZyqvrV5sViudJBQLhveKAAAh+QQJCgAPACwAAAAAEAAIAAAEMPDJKap4Jx8ylB8PMwwMZnFJCoqkWaFqOJbHOaTJOrsCnMut2qvzAdJOE4oFoyFEAAAh+QQJCgAPACwAAAAAEAAIAAAEMvDJSZ+4Qi3E13OK4jzNYApLoCKPwimkOaBqwLoIXJ7p2r4xXu0G3M02nU9oZBRUnpUIACH5BAkKAA8ALAAAAAAQAAgAAAQv8MlJq30oozeUH0UgAk8iJlyigkBLmgE6qAnrlme6Fu6bz7uCsIDRcDyKwWX5iAAAIfkECQoADwAsAAAAABAACAAABCnwyUmrtQvpVYIHj+c9iMgBKBigAWkWqcq63pmGc1kXPP/0hUdmcyk+IgAh+QQFCgAPACwAAAAAEAAIAAAEI/DJSau9FIQN3t6PxgEk6ZFBWK5mgKpseWowWdz3gxf6jmERADs=') no-repeat right 4px;
    }
}
/** loading  over**/

/** log console **/
.d-log-console {
    position: relative;

    .to-top-btn {
        display: none;
        z-index: 99;
        position: absolute;
        bottom: 4px;
        right: 2px;
        width: 58px;
        font-size: 13px;
        margin-right: 2px;
        padding-right: 12px;
        text-align: right;
        color: #999;
        text-decoration: none;
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAMAAABLuo1aAAAABlBMVEXCwsL///+2aL1UAAAAAnRSTlP/AOW3MEoAAAAeSURBVAjXY2AEAgYGMAlmgdkMEBaIzQBlMSAYQAAAAzkAFfQAfJYAAAAASUVORK5CYII=') no-repeat right 6px;
    }
}
